# ========================
# 🔐 Secrets / Env
# ========================
.env
*.env


# ========================
# 🏗️ Build files
# ========================
target/
*.jar
*.war

# ========================
# 🧠 IDE files
# ========================
.idea/
*.iml
.vscode/

# ========================
# 🖥️ OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Temp files
# ========================
*.tmp